{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Easy Reservation - Login </title>
      <!-- Bootstrap -->
      <link href='{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">
      <!-- Bootstrap Social Buttons -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href='{% static "vendors/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
      <!-- NProgress -->
      <link href='{% static "vendors/nprogress/nprogress.css" %}' rel="stylesheet">
      <!-- Animate.css -->
      <link href='{% static "vendors/animate.css/animate.min.css" %}' rel="stylesheet">
      <!-- Custom Theme Style -->
      <link href='{% static "css/custom.min.css" %}' rel="stylesheet">
   </head>
   <body class="login">
      <div>
         <a class="hiddenanchor" id="signup"></a>
         <div class="login_wrapper">
            <div class="animate form login_form">
               <section class="login_content">
                  <form method="post" action="/login/" name="loginForm">
                     {% csrf_token %}
                     <h1>Login Form</h1>
                     <div>
                        <input id="id_username"  name="username"  type="text" class="form-control" placeholder="Username" required="" />
                     </div>
                     <div>
                        <input  id="id_password"  name="password" type="password" class="form-control" placeholder="Password" required="" />
                     </div>
                     {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Erreur d'authentification.</strong> Identifiants incorrects...
                        </div>
                        {% endif %}
                     <div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                     </div>
                  </form>
                  <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-sm btn-facebook">
                  <span class="fa fa-facebook"></span> Sign in with Facebook
                  </a>
                  <div class="clearfix"></div>
                  <div class="separator">
                     <div class="clearfix"></div>
                     <br />
                     <div>
                        <h3><i class="fa fa-paw"></i> Easy Reservation</h3>
                        <p>©2018 All Rights Reserved. Easy Reservation is the interview test for Sharing Cloud. Let's hope i pass =) =)</p>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </body>
</html>