{% load staticfiles %}
{% load i18n %}

<!doctype html>
<html style="height: 100%;"  class="no-js h-100" lang="en" ng-app="easyreservation">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Easy Reservation</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head_css %}
      <!-- Bootstrap -->
      <link href='{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">
      <!-- Font Awesome -->
      <link href='{% static "vendors/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
      <!-- NProgress -->
      <link href='{% static "vendors/nprogress/nprogress.css" %}' rel="stylesheet">
      <!-- Big Calendar-->
      <link href='http://angular-ui.github.io/ui-calendar/bower_components/fullcalendar/dist/fullcalendar.css' rel="stylesheet">
      <link href='http://angular-ui.github.io/ui-calendar/demo/calendarDemo.css'>

      <!-- bootstrap-daterangepicker -->
      <link href='{% static "vendors/bootstrap-daterangepicker/daterangepicker.css" %}' rel="stylesheet">

      <!-- Custom Theme Style -->
      <link href='{% static "css/custom.min.css" %}' rel="stylesheet">
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://dalelotts.github.io/angularjs-bootstrap-datetimepicker/stylesheets/styles.css" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js" ></script>
  </head>
  <body style="height: 100%;"  class="nav-md" ng-controller="baseController">
    <div style="height: 100%;"  class="container body">
      <div style="height: 100%;"  class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Easy Res</span></a>
            </div>

            <div class="clearfix"></div>
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-pencil-square-o"></i> {% trans 'Reservations' %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/reservations">{% trans 'Reservations List' %}</a></li>
                      <li><a href="/reservations/create">{% trans 'Make Reservation' %}</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-building-o"></i> {% trans 'Resources' %} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/resources">{% trans 'Resources List' %}</a></li>
                      {% if request.user.is_superuser %}
                          <li><a href="/resources/create">{% trans 'Add Resource' %}</a></li>
                      {% endif %}
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="images/img.jpg" alt="">{{request.user.first_name}} {{request.user.last_name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li><a href="/accounts/settings/">{% trans 'Settings' %}</a></li>
                    <li><a href="/logout/"><i class="fa fa-sign-out pull-right"></i>  {% trans 'Log Out' %} </a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" style="height: 100%;"  role="main">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {% block content %}{% endblock %}
            </div>

          </div>
          <br />


        </div>
        <!-- /page content -->


      </div>
    </div>

    {% block js %}
        <!-- jQuery -->
        <script src='{% static "vendors/jquery/dist/jquery.min.js" %}'></script>
        <!-- Bootstrap -->
        <script src='{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}'></script>


        <!-- AngularJs -->
        <script src="http://angular-ui.github.io/ui-calendar/bower_components/angular/angular.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src='{% static "vendors/moment/min/moment.min.js" %}'></script>
        <script src='{% static "vendors/bootstrap-daterangepicker/daterangepicker.js" %}'></script>

        <!-- Full Calendar -->
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
        <script src='{% static "js/calendar.js" %}'></script>
        <script src="http://angular-ui.github.io/ui-calendar/bower_components/fullcalendar/dist/fullcalendar.js"></script>

        <!-- Custom Theme Scripts -->
        <script src='{% static "js/custom.js" %}'></script>
        <script src='{% static "angular/module.js" %}'></script>



    {% endblock %}
	
  </body>
</html>