{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="page-title">
    <div class="title_left">
       <h3>{% trans 'Reservations List' %}</h3>
    </div>
</div>
<!-- End Page Header -->
         <div class="container" ng-controller="reservationsController">
             <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
         </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src='{% static "angular/services/reservations-service.js" %}'></script>
    <script src='{% static "angular/controllers/reservations-ctrl.js" %}'></script>
{% endblock %}

{% block head_css %}
    {{ block.super }}

{% endblock %}
