{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
<div class="page-title">
    <div class="title_left">
       <h3>{% trans 'New Reservation' %}</h3>
    </div>
</div>
<div class="row">
   <div class="col-lg-5 col-md-7 col-sm-12 mb-4">
      <!-- Quick Post -->
      <div class="card card-small h-100">

         <div class="card-body d-flex flex-column">
            <fieldset>
               <form method="post" role="form" action="/reservations/create/"> {% csrf_token %}
                  {% for field in form.visible_fields %}
                      {% if field.name != 'reservation_time' %}
                           <div class="form-group">
                              <label class="control-label" for="id_period">{{ field.label_tag }}</label>
                              <div class="control-group">
                                  {{ field }}
                               </div>
                          </div>
                      {% endif %}
                    {% endfor %}
                  <div class="control-group">
                     <div class="controls">
                        <div class="input-prepend input-group">
                           <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                           <input type="text" name="reservation_time" id="id_reservation_time" class="form-control" value="01/01/2016 - 01/25/2016" />
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input type="submit" value="{% trans ' Make Reservation' %}" class="btn btn-primary" />
                  </div>
               </form>
            </fieldset>
         </div>
      </div>
      <!-- End Quick Post -->
   </div>
</div>
{% endblock content %}