{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
<div class="row" ng-controller="reservationController">
   <input type="hidden" ng-init="id='{{object.id}}'">
   <div class="col-lg-5 col-md-7 col-sm-12 mb-4">
      <!-- Quick Post -->
      <div class="card card-small h-100">
         <div class="card-header border-bottom">
            <h6 class="m-0">New Reservation</h6>
         </div>
         <div class="card-body d-flex flex-column">
            <fieldset>
               <form>
                  <div class="form-group">
                     <label class="control-label" for="id_period"><label for="id_title">Title</label></label>
                     <div class="control-group">
                        <input ng-model='title'  class="form-control" id="id_title" maxlength="120" name="title" type="text" value="{[{reservation.title}]}">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label" for="id_period"><label for="id_resource">Reservations</label></label>
                     <div class="control-group">
                        <select  class="form-control" id="id_resource" name="resource" required="" >
                           <option value="{[{selected_resource_id}]}" selected="selected">{[{selected_resource_title}]}</option>
                           <option  ng-repeat="resource in resources" value="{[{resource.id}]}">{[{resource.title}]}</option>
                        </select>
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="controls">
                        <div class="input-prepend input-group">
                           <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                           <input type="text" ng-model='reservation_time' name="reservation_time" id="id_reservation_time" class="form-control" ng-model="reservation.reservation_time">
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input ng-disabled="disableUpdate" ng-click="updateReservation(reservation.id)" type="submit" value="{% trans 'Update Reservation' %}" class="btn btn-primary">
                     <input ng-disabled="disableDelete" ng-click="deleteReservation(reservation.id)" type="submit" value="{% trans 'Delete Reservation' %}" class="btn btn-danger">
                  </div>
               </form>
            </fieldset>
         </div>
      </div>
      <!-- End Quick Post -->
   </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
    <script src='{% static "angular/services/reservations-service.js" %}'></script>
    <script src='{% static "angular/services/resources-service.js" %}'></script>
    <script src='{% static "angular/controllers/reservation-ctrl.js" %}'></script>

{% endblock %}