{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div ng-controller="resourceController">
<div class="page-title">
    <div class="title_left">
       <h3>{% trans 'Resources List' %}</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
   <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
         <div class="input-group">
            <input ng-model="filter" type="text" class="form-control" placeholder="{% trans 'Search by type or location...' %}">
            <span class="input-group-btn">
            <button class="btn btn-default" ng-click="filterResource()" type="button">Go!</button>
            </span>
         </div>
      </div>
   </div>
</div>
<div class="row" ng-show="resources">
   <div ng-repeat="res in resources" class="col-md-55">
      <div class="thumbnail" style="min-height: 268px;">
         <div class="image view view-first">
            <img style="width: 100%; display: block;" src="{[{res.image}]}" alt="image" />
            <div class="mask">
               <div class="tools tools-bottom">
                  <a href="/reservations/create/?resource_id={[{res.id}]}"><i class="fa fa-link"></i></a>
                  <a ng-show="'{{request.user.is_superuser}}'==='True'" href="" ng-click="deleteResource(res.id)"><i class="fa fa-times"></i></a>
               </div>
            </div>
         </div>
         <div class="caption">
            <p>{[{res.title}]}</p>
            <p>{% trans 'location' %}: {[{res.location}]}</p>
            <p>{% trans 'Maximum number of persons' %}: {[{res.max_person}]}</p>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
{% block js %}
{{ block.super }}
<script src='{% static "angular/services/resources-service.js" %}'></script>
<script src='{% static "angular/controllers/resources-ctrl.js" %}'></script>
{% endblock %}