{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}


{% block content %}
<div class="page-title">
    <div class="title_left">
       <h3>{% trans 'New Resource' %}</h3>
    </div>
</div>
<div class="row">
   <div class="col-lg-5 col-md-7 col-sm-12 mb-4">
      <!-- Quick Post -->
      <div class="card card-small h-100">
         <div class="card-body d-flex flex-column">
            <form method="post" role="form" action="/resources/create/">
               {{ form|bootstrap }}
               {% csrf_token %}
               <div class="form-group">
                  <input type="submit" value="{% trans 'Add Resource' %}" class="btn btn-primary" />
               </div>
            </form>
         </div>
      </div>
      <!-- End Quick Post -->
   </div>
</div>
{% endblock content %}
