{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
<div class="row">
   <div class="col-lg-5 col-md-7 col-sm-12 mb-4">
      <!-- Quick Post -->
      <div class="card card-small h-100">
         <div class="card-header border-bottom">
            <h6 class="m-0">{% trans 'Settings' %}</h6>
         </div>
         <div class="card-body d-flex flex-column">
            <fieldset>
               <form>
                  <div class="form-group">
                     <label class="control-label" for="id_period"><label for="id_title">{% trans 'Language' %}</label></label>
                      <select  class="form-control" id="id_code" name="code" required="" >
                         <option {% if language_code == 'en' %}selected="selected"{% endif %} value="en">{% trans 'English' %}</option>
                         <option {% if language_code == 'fr' %}selected="selected"{% endif %} value="fr">{% trans 'French' %}</option>

                      </select>
                  </div>
                  <div class="form-group">
                     <label class="control-label" for="id_period"><label for="id_resource">{% trans 'Time Zone' %}</label></label>
                     <div class="control-group">
                        <select  class="form-control" id="id_timeZone" name="timeZone" required="" >
                           {% for x, y in time_zones %}
                               <option   {% if time_zone == x %}selected="selected"{% endif %} value="{{y}}">{{x}}</option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <input type="submit"  ng-click="changeSettings()" value="{% trans 'Save Settings' %}" class="btn btn-primary">
                  </div>
               </form>
            </fieldset>
         </div>
      </div>
      <!-- End Quick Post -->
   </div>
</div>
{% endblock content %}
